{
    # Global options
    email admin@netguard.fun
}

app.netguard.fun {
    reverse_proxy /api/* backend:8000
    reverse_proxy frontend:80
}

74.208.192.189 {
    tls internal
    reverse_proxy /api/* backend:8000
    reverse_proxy frontend:80
}
